<footer class="page-footer font-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justtify-content-center">
                <h4 class="text-white">
                    Alguma coisa
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justtify-content-center">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/guilherme-matheus-b7b4131b3/" target="_blank" class="p-3">
                            <img class="tm-social tamanho" src="https://cdn-icons-png.flaticon.com/512/25/25320.png"
                                alt="">
                        </a>
                        <a href="https://www.instagram.com/guimatheusou/" target="_blank" class="p-3">
                            <img class="tm-social tamanho " src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"
                                alt="">
                        </a>
                        <a href="https://www.facebook.com/guilherme.matheus.104" target="_blank" class="p-3">
                            <img class="tm-social tamanho" src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
                                alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>